body {
    margin: 0;
    font-family: sans-serif;
    background-image: url(image/bg.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(8px);
    color: white;
}
header a {
    margin-left: 10%;
    text-align: center;
    display: flex;
    padding: 10px;
    gap: 10px;
}
.menu {
    padding: 10px 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu:hover{
    background-color: black;
    color: red;
} 
.kegiatan{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.kegiatan img {
    flex: 1;
    width: 80%;
}
a:hover, h3{
    color: red;
}
a:link, a:visited{
    text-decoration: none;
    color: black;
}
span{
    color: red;
}
nav ul.nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    gap: 10px;
    padding: 10px;
    height: 50px;
}
main{
    margin: 0 15%;
    text-align: justify;
    display: grid;
}
.tentang {
    text-align: center;
}
.tentang img {
    width: 300px;
    height: 200px;
}
main img{
    float: left;
    padding-right: 10px;
}
main,section {
    background-color: rgb(241, 85, 85, 0.1);
    padding: 10px;
}
table{
    margin: auto;
}
.kontak h2{
    text-align: center;
}
.kontak p {
    text-align: justify;
    padding: 0 10%;
}
.pengaduan tr,td {
    text-align: left;
}
.center {
    text-align: center;
}
input[type="submit"]{
    width: 50%;
}
input[type="submit"]:hover {
    background-color: black;
    color: red;
}
section{
    margin: 0 15%;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}
footer{
    background-color: black;
    color: red;
    padding: 1px;
    text-align: center;
}
div.kolab img{
    height: 100px;
}
@media screen and (max-width: 650px) {
    nav {
        float: none;
    }
    main img {
        width: 200px;
    }
    .kegiatan img{
        width: 80%;
        padding: 10px;
    }
}