body {
    margin: 0;
    font-family: sans-serif;
    background-image: url(image/bg.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(8px);
    color: white;
}
header a {
    margin-left: 10%;
    text-align: center;
    display: flex;
    padding: 10px;
    gap: 10px;
}
.menu {
    padding: 10px 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu:hover{
    background-color: black;
    color: red;
}
a:hover, h3{
    color: red;
}
a:link, a:visited{
    text-decoration: none;
    color: black;
}
nav ul.nav, .topnav #nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    gap: 10px;
    padding: 10px;
    height: 50px;
}
main{
    text-align: justify;
}
main p{
    padding: 0 10%;
}
main img{
    float: left;
    padding-right: 10px;
}
main,section {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin: 0 15%;
}
.tentang, main h1, .kontak h2, .center{
    text-align: center;
} 
.kegiatan{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.kegiatan img {
    margin: 0 10%;
    flex: 1;
    width: 80%;
}
.kegiatan em{
    padding: 0 10%;
}
span{
    color: red;
}
.kerja {
    text-align: justify;
}
.tentang img { 
    width: 350px;
    height: 280px;
    margin-bottom: 20px;
}
.kontak h2{
    text-align: center;
}
.kontak p, .kontak h4{
    text-align: justify;
    padding: 0 10%;
}
section{
    margin-bottom: 20px;
}
.kolab{
    text-align: center;
    margin-bottom: 20px;
}
div.kolab img{
    height: 100px;
}
section h3{
    text-align: center;
}
.center p {
    text-align: left;
    margin: 7px 25%;
}
input[type="submit"]{
    width: 30%;
    margin-bottom: 20px;
}
input[type="submit"]:hover {
    background-color: black;
    color: red;
}
footer{
    background-color: black;
    color: red;
    padding: 1px;
    text-align: center;
}
@media screen and (max-width: 800px) {
    .center p {
        text-align: left;
        margin: 10px 15%;
    }
    main p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        float: none;
        gap: 10px;
    }
    main img {
        width: 100%;
        padding: 0;
    }
    .tentang img{
        width: 300px;
        height: 230px;
        margin-bottom: 20px;
    }
    input[type="submit"]{
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 450px) {
    main,section {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px;
        margin: 0 5%;
    }
    main p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        float: none;
        gap: 10px;
    }
    main img {
        width: 100%;
        padding: auto;
    }
    .tentang img {
        width: 80%;
        height: 30%;
        margin-bottom: 20px;
    }
    .kegiatan img{
        width: 80%;
        padding: 10px;
    }
    h4 {
        margin: auto 10px;
    }
    .kontak p, .kontak h4{
        padding: 0;
        margin: 7px 10px;
    }
    .center p {
        text-align: left;
        margin: 7px 10px;
    }
    input{
        display: flex;
        margin: 10px 0;
    }
    input[type="submit"]{
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 380px) {
    
}