body {
    margin: 0;
    font-family: sans-serif;
    background-image: url(image/bg.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(8px);
    color: white;
}
header a {
    margin-left: 10%;
    text-align: center;
    display: flex;
    padding: 10px;
    gap: 10px;
}
.menu {
    padding: 10px 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu:hover{
    background-color: black;
    color: red;
<<<<<<< Updated upstream
} 
.kegiatan{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.kegiatan img {
    flex: 1;
    width: 80%;
=======
>>>>>>> Stashed changes
}
a:hover, h3{
    color: red;
}
a:link, a:visited{
    text-decoration: none;
    color: black;
}
span{
    color: red;
}
nav ul.nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    gap: 10px;
    padding: 10px;
    height: 50px;
}
main{
    margin: 0 15%;
    text-align: justify;
    display: grid;
}
<<<<<<< Updated upstream
.tentang {
=======
.kontak p {
    text-align: justify;
    padding: 0 10px;
}
section{
    margin: 0 15%;
    margin-bottom: 20px;
}
.kolab{
    text-align: center;
    margin-bottom: 20px;
}
div.kolab img{
    height: 100px;
}
.tentang, main h2, .kontak h2, .center{
>>>>>>> Stashed changes
    text-align: center;
}
.tentang img {
<<<<<<< Updated upstream
    width: 300px;
    height: 200px;
=======
    width: 50%;
    margin-bottom: 20px;
>>>>>>> Stashed changes
}
main img{
    float: left;
    padding-right: 10px;
}
main,section {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}
.kegiatan{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
<<<<<<< Updated upstream
.kontak h2{
    text-align: center;
}
.kontak p {
    text-align: justify;
    padding: 0 10%;
=======
.kegiatan img {
    flex: 1;
    width: 80%;
>>>>>>> Stashed changes
}
section h3{
    text-align: center;
}
h4 {
    margin: auto 10px;
}
.center p {
    text-align: left;
    margin: 7px 25%;
}
.center {
    text-align: center;
}
input[type="submit"]{
    width: 50%;
    margin-bottom: 20px;
}
input[type="submit"]:hover {
    background-color: black;
    color: red;
}
footer{
    background-color: black;
    color: red;
    padding: 1px;
    text-align: center;
}
<<<<<<< Updated upstream
div.kolab img{
    height: 100px;
}
@media screen and (max-width: 650px) {
    nav {
=======
@media screen and (max-width: 800px) {
    .center p {
        text-align: left;
        margin: 10px 15%;
    }
    /* input{
        display: flex;
        margin: 10px 0;
    } */
    input[type="submit"]{
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 450px) {
    /* body{
        margin-right: -11.5%;
    } */
    main p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
>>>>>>> Stashed changes
        float: none;
    }
    main img {
        width: 200px;
    }
    .kegiatan img{
        width: 80%;
        padding: 10px;
    }
<<<<<<< Updated upstream
=======
    h4 {
        margin: auto 10px;
    }
    .center p {
        text-align: left;
        margin: 7px 10px;
    }
    input{
        display: flex;
        margin: 10px 0;
    }
    input[type="submit"]{
        margin: 0 auto;
        margin-bottom: 20px;
    }
>>>>>>> Stashed changes
}